In [1]:
%pip install pandas
import pandas as pd

Requirement already satisfied: pandas in c:\users\57302\appdata\local\programs\python\python313\lib\site-packages (2.2.3)Note: you may need to restart the kernel to use updated packages.

Requirement already satisfied: numpy>=1.26.0 in c:\users\57302\appdata\local\programs\python\python313\lib\site-packages (from pandas) (2.1.2)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\57302\appdata\roaming\python\python313\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\57302\appdata\local\programs\python\python313\lib\site-packages (from pandas) (2024.2)
Requirement already satisfied: tzdata>=2022.7 in c:\users\57302\appdata\local\programs\python\python313\lib\site-packages (from pandas) (2024.2)
Requirement already satisfied: six>=1.5 in c:\users\57302\appdata\roaming\python\python313\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)

In [2]:
nacs = pd.read_csv('Data/nacs.csv', encoding="ISO-8859-1")

In [3]:
nacs.shape

(2496358, 38)

In [4]:
nacs.head()

,COD_DPTO,COD_MUNIC,AREANAC,SIT_PARTO,OTRO_SIT,SEXO,PESO_NAC,TALLA_NAC,ANO,MES,...,AREA_RES,N_HIJOSV,FECHA_NACM,N_EMB,SEG_SOCIAL,IDCLASADMI,EDAD_PADRE,NIV_EDUP,ULTCURPAD,PROFESION
0,8,1,1,1,NaN,2,6,5,2017,1,...,1.0,2,27/09/2004,2,1,1.0,26,4,11,1.0
1,23,1,1,1,NaN,1,5,5,2017,1,...,2.0,1,NaN,1,2,2.0,32,2,5,1.0
2,11,1,1,1,NaN,1,6,5,2017,1,...,1.0,2,18/09/2013,2,1,1.0,27,3,9,1.0
3,52,1,1,1,NaN,2,5,4,2017,1,...,3.0,2,03/07/2000,2,2,2.0,26,2,5,1.0
4,63,1,1,1,NaN,1,7,5,2017,1,...,1.0,1,NaN,1,1,1.0,36,4,11,1.0

In [6]:
columns = ['NIV_EDUM', 'ULTCURMAD']

# Completitud

In [7]:
# Verificación de nulidad
((nacs[columns].isnull().sum()/nacs[columns].shape[0])).sort_values(ascending=False)

NIV_EDUM     0.0
ULTCURMAD    0.0
dtype: float64

In [9]:
# Verificación de ausencia de datos
nacs[columns].apply(lambda x: (x == 99).sum())

NIV_EDUM     89803
ULTCURMAD    97785
dtype: int64

In [15]:
# Verificación de valores válidos
valid_values_ul = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 99]

if nacs['NIV_EDUM'].isin(valid_values).all() and nacs['ULTCURMAD'].isin(valid_values).all():
    print("Valores dentro del rango válido")
else:
    print("hay valores invalidos, en algún lado")

hay valores invalidos, en algún lado

In [16]:
invalid_count_NIV_EDUM = nacs[~nacs['NIV_EDUM'].isin(valid_values_ul)].shape[0]
invalid_count_ULTCURMAD = nacs[~nacs['ULTCURMAD'].isin(valid_values_ul)].shape[0]

# Print the counts
print("Invalid values in NIV_EDUM:", invalid_count_NIV_EDUM)
print("Invalid values in ULTCURMAD:", invalid_count_ULTCURMAD)

Invalid values in NIV_EDUM: 0
Invalid values in ULTCURMAD: 26990