In [5]:
import pandas as pd 


nacs = pd.read_csv('C:/Users/camix/Documents/BIProy2/data/nacs.csv', encoding="ISO-8859-1")
nacs.shape

(2496358, 38)

In [11]:
#Columnas para el perfil demografico de la madre. 
columns = ["EDAD_MADRE","SEG_SOCIAL","EST_CIVM","IDCLASADMI","IDPERTET"]
nacs.sample(3)

,COD_DPTO,COD_MUNIC,AREANAC,SIT_PARTO,OTRO_SIT,SEXO,PESO_NAC,TALLA_NAC,ANO,MES,...,AREA_RES,N_HIJOSV,FECHA_NACM,N_EMB,SEG_SOCIAL,IDCLASADMI,EDAD_PADRE,NIV_EDUP,ULTCURPAD,PROFESION
51828,5,1,1,1,NaN,2,6,5,2017,5,...,1.0,2,27/12/2005,3,1,1.0,39,4,11,1.0
74026,66,1,1,1,NaN,2,7,5,2017,1,...,2.0,1,NaN,1,1,1.0,23,4,11,1.0
1045746,5,1,1,1,NaN,1,6,4,2018,6,...,1.0,2,29/02/2008,2,1,1.0,30,7,2,1.0

## Análisis de calidad de los datos.

### Completitud.

In [12]:
((nacs[columns].isnull().sum()/nacs[columns].shape[0])).sort_values(ascending=False)

IDCLASADMI    0.064541
EDAD_MADRE    0.000000
SEG_SOCIAL    0.000000
EST_CIVM      0.000000
IDPERTET      0.000000
dtype: float64

Podemos evidenciar que la unica columna que presenta errores de completitud entre las seleccionadas para este analisis es IDCLASADMI, sin embargo, solo tiene 6% de datos faltantes, que se puede asumir igual a la categoria 9 de la columna, que indica que no hay informacion sobre la entidad administradora de salud de la madre.

### Duplicidad.

In [13]:
nacs.duplicated(keep = False).sum()

np.int64(8121)

Para todas estas columnas tiene sentido que existan muchos valores duplicados, por lo que no es un rubro que se deba tener en cuenta para este analisis.

### Consistencia

Para todas estas columnas no hay posibles validaciones de consistencia que se puedan realizar con otras columnas, por lo que este rubro no aplica para este analisis.

### Validez

In [20]:
for col in columns:
  print(nacs[col].value_counts(dropna = False))

EDAD_MADRE
3     708958
4     611767
2     453575
5     416360
6     222495
7      56914
1      20446
8       4052
99      1222
9        569
Name: count, dtype: int64
SEG_SOCIAL
2    1351872
1     932179
5     161047
3      48137
9       2388
4        735
Name: count, dtype: int64
EST_CIVM
1    1299861
2     470247
6     335057
5     315791
9      65618
3       7394
4       2390
Name: count, dtype: int64
IDCLASADMI
2.0    1351878
1.0     932055
NaN     161118
5.0      48136
9.0       2322
4.0        732
3.0        117
Name: count, dtype: int64
IDPERTET
6    2279612
1     106603
5     106027
9       2154
3       1395
2        293
4        274
Name: count, dtype: int64

Ademas de los errores de completitud de la columna IDCLASADMI, no se pueden identificar valores en ninguna de las columnas que se salgan de las categorias registradas en el diccionario de datos, por lo que no presentan errores de validez.